.wide-container {
  width: 1440px;
  width: 100%;
  position: relative;
}

.landing-page {
  background: url('../../img/landingPage.png') no-repeat center center;
  height: 830px;
}

.form-wrapper {
  position: relative;
  top: 70px;
}

