.room-image {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  width: 1440px;
  display: flex;
  justify-content: space-between;
}

.room-image-big {
  background: url('../../img/image.png') no-repeat center top;
  width: 981px;
  height: 485px;
  box-sizing: border-box;
}

.room-image-small {
  box-sizing: border-box;
  height: 243px;
  width: 461px;
}

.top {
  background: url('../../img/image2.png') no-repeat center top;
  background-size: cover;
}

.low {
  background: url('../../img/image3.png') no-repeat center top;
  background-size: cover;
}





.page-content {
  margin: 70px 0 0 0;
}

.left-side {
  width: 711px;
}



























