div(class='rate-container dark75 fs-14')
  div(class='rate-container__elem flex flex-Y-center')
    div(class='ellipse mr-5 great')
    div Великолепно
  div(class='rate-container__elem flex flex-Y-center')
    div(class='ellipse mr-5 good')
    div Хорошо
  div(class='rate-container__elem flex flex-Y-center')
    div(class='ellipse mr-5 satisfactory')
    div Удовлетворительно
  div(class='rate-container__elem flex flex-Y-center')
    div(class='ellipse mr-5 disappointed')
    div Разочарован