div(class='inputContainer')
  label(class='inputContainer__label dark100') Доступность

  label(class='checkbox')
    input(type="checkbox")
    span(class="checkbox__checkmark")
    div
      span(class="checkbox__label bold dark75 fs-14") Широкий коридор
      span(class="checkbox__label dark50 fs-12") Ширина коридоров в номере <br> не менее 91см.

  label(class='checkbox')
    input(type="checkbox")
    span(class="checkbox__checkmark")
    div
      span(class="checkbox__label bold dark75 fs-14") Помошник для инвалидов
      span(class="checkbox__label dark50 fs-12") На 1 этаже вас встретит специалист <br> и проводит до номера.