div(class='calendar hide')
  div(class='flex flex-X-between')
    span(class='primaryColor material-icons calendar__prev fs-24') arrow_backward
    span(class='calendar__title fs-19 bold sand')
    span(class='primaryColor material-icons calendar__next fs-24') arrow_forward
  
  div(class='calendar__container')

  div(class='calendar__control-buttons flex flex-X-between')
    span(class='dark50 fs-12') Очистить
    span(class='primaryColor fs-12') Применить
