label(class='checkbox')
  input(type="checkbox")
  span(class="checkbox__checkmark")
  span(class="checkbox__label dark50 fs-14") Можно курить

label(class='checkbox')
  input(type="checkbox")
  span(class="checkbox__checkmark")
  span(class="checkbox__label dark50 fs-14") Можно с питомцами

label(class='checkbox')
  input(type="checkbox")
  span(class="checkbox__checkmark")
  span(class="checkbox__label dark50 fs-14") Можно пригласить гостей <br>(до 10 человек)