//- div(class='inputContainer range-wrapper flex flex-X-between fs-12 dark50')
//-   label(class='inputContainer__label dark100') Диапазон цены
//-   div(class='total-cost')
//-     span 5 000
//-     span(class='rub') P - &nbsp;
//-     span 10 000
//-     span(class='rub') P
//- div(class='multi-range')
//-   span(class="multi-range-left")
//-   span(class="multi-range-mid")
//-   span(class="multi-range-right")
//-   input(type="range" min="0" max="15000" value="5000" step='1000' id="lower")
//-   input(type="range" min="0" max="15000" value="10000" step='1000' id="upper")


div(class='inputContainer range-wrapper flex flex-X-between fs-12 dark50')
  label(class='inputContainer__label dark100') Диапазон цены
  div(class='total-cost')
    span(class='lower-cost') 0
    span(class='rub') P - &nbsp;
    span(class='higher-cost') 0
    span(class='rub') P
div(class='multi-range')
  div(id="left")
    div(class='left-thumb')
  div(id="right")
    div(class='right-thumb')
  div(class='mid-range')