div(class='formCard registration')
  h2(class='formCard__title dark100') Регистрация аккаунта
  form(class='form')
  
    div(class='inputContainer')
      div(class='inputWrapper')
        input(class='input inputContainer__wide' type='text' placeholder='Имя')
      div(class='inputWrapper')
        input(class='input inputContainer__wide' type='text' placeholder='Фамилия')

    div(class='inputContainer checkWrapper')
      label(class='radio-container dark50' for='man')
        input(class='radio-container__radio' type='radio' name='sex' id='man' value='man' checked)
        span(class='radio-container__checkmark')
          div(class='radio-container__label') Мужчина

      label(class='radio-container dark50' for='woman')
        input(class='radio-container__radio' type='radio' name='sex' id='woman' value='woman')
        span(class='radio-container__checkmark')
          div(class='radio-container__label') Женщина

    div(class='inputContainer')
      label(class='inputContainer__label dark100') Дата Рождения
      div(class='inputWrapper')
        input(class='input inputContainer__wide' type='text' placeholder='ДД.ММ.ГГГГ')

    div(class='inputContainer')
      label(class='inputContainer__label dark100') Данные для входа в сервис
      div(class='inputWrapper')
        input(class='input inputContainer__wide' type='email' placeholder='Email')
      div(class='inputWrapper')
        input(class='input inputContainer__wide' type='password' placeholder='Пароль')

    div(class='inputContainer checkWrapper')
      label(class="checkbox-container" for="subscribe")
        input(type="checkbox" id='subscribe')
        span(class="checkbox-container__checkmark round")
      label(class='checkbox-container__label' for="subscribe") Получать спецпредложения

    div(class='inputContainer gradientBorder btn-filled form__btn')
      input(class='btn' type='submit' value='Перейти к оплате')
      span(class='icon fs-24') arrow_forward

    div(class='inputContainer account-check-wrapper')
      span Уже есть аккаунт на Toxin
      div(class='gradientBorder')
        button(class="btn") Войти
