mixin list(...names)
  ul&attributes(attributes)
    each name in names
      if name== 'INCLUDE'
        li
          include ../logo/logo.pug
      else if name== 'INPUT'
        div(class='inputWrapper')
          input(class='input' type='email' placeholder='Your email adress')
          span(class='icon fs-24') arrow_forward
      else
        li= name