div(class='container')
  include ../header/headerUnAuth/headerUnAuth

div(class='wide-container login-reg')
  div(class='container flex flex-X-center flex-Y-center')
    include ../forms/registration

div(class='container')
  include ../footer/footerCopyright