div(class='inputContainer room-convenience')

  div(class='inputWrapper flex flex-Y-center')
    label(class='inputContainer__label dark100') Дополнительные удобства
    span(class='icon fs-24 dark50 room-convenience__icon') keyboard_arrow_down

  label(class='checkbox')
    input(type="checkbox")
    span(class="checkbox__checkmark")
    span(class="checkbox__label dark50 fs-14") Завтрак

  label(class='checkbox')
    input(type="checkbox" checked='checked')
    span(class="checkbox__checkmark")
    span(class="checkbox__label dark50 fs-14") Письменный стол

  label(class='checkbox')
    input(type="checkbox" checked='checked')
    span(class="checkbox__checkmark")
    span(class="checkbox__label dark50 fs-14") Стул для кормления

  label(class='checkbox')
    input(type="checkbox" checked='checked')
    span(class="checkbox__checkmark")
    span(class="checkbox__label dark50 fs-14") Кроватка

  label(class='checkbox')
    input(type="checkbox")
    span(class="checkbox__checkmark")
    span(class="checkbox__label dark50 fs-14") Телевизор

  label(class='checkbox')
    input(type="checkbox")
    span(class="checkbox__checkmark")
    span(class="checkbox__label dark50 fs-14") Шампунь