include ../forms/dropdown

div(class='formCard select')
  h2(class='formCard__title dark100') Найдем номера под ваши пожелания
  form(class='form')

    div(class='dates-container flex flex-X-between')
      div(class='inputContainer')
        label(class='inputContainer__label dark100') Прибытие
        div(class='inputWrapper')
          input(class='input input-dates' type='text' placeholder='ДД.ММ.ГГГГ')
          span(class='icon fs-24 dark50') keyboard_arrow_down
      div(class='inputContainer')
        label(class='inputContainer__label dark100') Выезд
        div(class='inputWrapper')
          input(class='input input-dates' type='text' placeholder='ДД.ММ.ГГГГ')
          span(class='icon fs-24 dark50') keyboard_arrow_down
      include ../forms/calendar

    +dropdown('guests', true)

    div(class='inputContainer gradientBorder btn-filled form__btn')
      input(class='btn' type='submit' value='Подобрать номер')
      span(class='icon fs-24') arrow_forward