mixin infoList(icon, elemTitle, elemDescription)
  div(class='info-list')
    div(class='info-list__icon-container')
      span(class='icon fs-48 dark50')= icon
    div(class='info-list__description dark75 fs-14')
      div(class='bold')= elemTitle
      div= elemDescription