div(class='footerCreative')
  div(class='footerCreative-content')
    include ../logo/logo.pug
    p(class='footerCreative-content__text') Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    include ./content-social