include ./footerList

div(class='footerWidgets')
  div(class='footerWidgets-content')
    +list('INCLUDE', 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.')(class='footerWidgets-content__aside')
    +list('Navigation', 'About Us', 'News', 'Support', 'Products')
    +list('About Us', 'Who we are', 'Our team', 'Careers', 'Investors')
    +list('Support', 'Documentation', 'Community', 'Get in Touch')
    +list('Subscribe to our newsletter', 'Receive our latest news and promotions in your inbox!', 'INPUT')(class='footerWidgets-content__aside')
div(class='footerCopyright')
  span Copyright © 2018 Toxin UI Kit. All rights reserved.
  include ./content-social
