doctype html
html(lang='en')
  head
  meta(charset = 'UTF-8')
  meta(name='viewport', content='initial-scale=1.0, width=device-width')
  body
    //- div(class='container')
    //-   include ./pug/header/headerStandard/headerStandard
    //- div(class='container')
    //-   include ./pug/header/headerUnAuth/headerUnAuth

    //- br
    //- div(class='container')
    //-   include ./pug/footer/footerCreative

    //- br
    //- div(class='container')
    //-   include ./pug/footer/footerCopyright

    div(class='container')
        //- include ./pug/forms/roomSelect
        //- include ./pug/forms/registration
        //- include ./pug/forms/roomReserve
        //- include ./pug/forms/signUp
        //- include ./pug/forms/calendar

    //- include ./pug/websitePages/landingPage
    //- include ./pug/websitePages/landingPageDate
    //- include ./pug/websitePages/landingPageGuest

    //- include ./pug/websitePages/searchRoom
    //- include ./pug/websitePages/searchRoomGuests
    //- include ./pug/websitePages/searchRoomConvenience

    //- include ./pug/websitePages/roomDetails

    //- include ./pug/websitePages/login
    include ./pug/websitePages/reg