include ./review/reviewElem

div(class='reviews')
  div(class='flex flex-X-between')
    span(class='fs-19 bold sand') Отзывы посетителей номера
    span(class='fs-14 dark50') 2 отзыва

  +reviewElem('avatar',
              'favorite',
              'Мурад Сарафанов',
              '5 дней назад',
              'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')

  +reviewElem('avatar2',
              'favorite_border',
              'Патрисия Стёклышкова',
              'Неделю назад',
              'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент')