div(class='room-impression')
  span(class='fs-19 bold sand') Впечатления от номера

  div(class='room-impression-content')

    include ./roomImpressionContent/circleContainer
    include ./roomImpressionContent/rateContainer

