include ./infoList/infoList

div(class='room-info')
  span(class='fs-19 bold sand') Сведения о номере

  +infoList('tag_faces',
            'Комфорт',
            'Шумопоглощающие стены')
  div(class='separate-line')
  +infoList('location_city',
            'Удобство',
            'Окно в каждой из спален')
  div(class='separate-line')
  +infoList('whatshot',
            'Уют',
            'Номер оснащен камином')