div(class='rules-container')
  span(class='fs-19 bold sand ml-20') Правила
  div(class='mt-20 fs-14 dark75')
    div(class='rate-container__elem flex')
      div(class='ellipse mr-10')
      div(class='div') Нельзя с питомцами
    div(class='rate-container__elem flex')
      div(class='ellipse mr-10')
      div(class='div') Без вечеринок и мероприятий
    div(class='rate-container__elem flex')
      div(class='ellipse mr-10')
      div Время прибытия — после 13:00, а выезд до 12:00