div(class='container')
  include ../header/headerUnAuth/headerUnAuth

div(class='wide-container landing-page')
  div(class='container')
    div(class='form-wrapper')
      include ../forms/roomSelect

div(class='container')
  include ../footer/footerCopyright