div(class='container')
  include ../header/headerUnAuth/headerUnAuth


div(class='page-main')

  div(class='room-image')

    div(class='room-image-big')
    div(class='room-image-big-wrapper')
      div(class='room-image-small top')
      div(class='room-image-small low')

  div(class='page-content')
    div(class='container flex flex-X-between')

      div(class='left-side')

        div(class='flex flex-X-between')

          include ../UIKit/roomInfo
          include ../UIKit/roomImpression

        include ../UIKit/reviews

        div(class='flex flex-X-between')

          include ../UIKit/rulesContainer
          include ../UIKit/cancelContainer
        

      div(class='right-side')
        include ../forms/roomReserve


div(class='container')
  include ../footer/footerCopyright